*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: "Freight big pro";
}
/* 
#loader{
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#loader video{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    object-fit: cover;
}
#loader h1{
    font-size: 6.9vw;
    font-weight: 100;
    line-height: 5.5vw;
    letter-spacing: -3px;
    position: relative;
    z-index: 4;
   
}

#yellow1{
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    position: absolute;
    z-index: 2;
}
#yellow2{
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    position: absolute;
    z-index: 3  ;
} */

#new-loader{
    height: 100vh;
    width: 100%;
    /* background-color:#F5E41B; */
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#yellow1{
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    position: absolute;
    z-index: 5;
}

#new-loader video{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    object-fit: cover;
}
#new-loader h1{
    font-size: 6.9vw;
    font-weight: 100;
    line-height: 5.5vw;
    letter-spacing: -3px;
    position: relative;
color: #fff;
    z-index: 4;
   
}
#yellow2{
    height: 100%;
    width: 100%;
    background-color: #F5E41B;
    position: absolute;
    z-index: 5;
    
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #F5E41B;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#page1 h1{
    font-size: 6.9vw;
    font-weight: 100;
    line-height: 5.5vw;
    letter-spacing: -3px;
    text-decoration: none;
    text-transform: uppercase;
    text-emphasis: none;
    font-style: normal;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: black;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: #fff;
}